* {
  box-sizing: border-box;
}

.app {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.005em;
  font-weight: 400;
  line-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  color: #676767;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.sticky {
  padding-top: 20px;
  transition: all 0.1s linear 0.1s;
}

.header {
  background-color: #f5f5f5;
  text-align: center;
  transition: all 0.3s linear 0.2s;
}

.nav-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 300px;
  left: 0;
  height: 150px;
  line-height: 50px;
  width: 100%;
  color: #676767;
  transition: all 0.1s linear 0.1s;
  margin-left: 0%;
}

.name {
  font-size: 1.2em;
  letter-spacing: 1px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-area.sticky {
  background-color: #f5f5f5;
  transform: translateY(-300px);
  opacity: 0.8;
  transition: all 0.1s linear 0.1s;
}

.photo-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  overflow: hidden;
  transition: all 0.1s linear 0.1s;
}

.photo-area.sticky {
  height: 0px;
  transition: all 0.1s linear 0.1s;
}

.photo-container {
  width: 90%;
  height: 100%;
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1.875em;
}

.photo {
  height: 100%;
}

.menu-item {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px;
  line-height: 1;
  text-decoration: none;
  border-radius: 3px;
  transition: all 0.3s ease;
  color: black;
}

.menu-item:hover {
  outline: 0.1em dotted grey;
  transition: all 0.8s ease;
}

.current {
  box-shadow: 0 0 0 1px grey;
}

.small-photo {
  width: 300px;
  height: 400px;
}

.main {
  display: flex;
  flex-direction: column;
  width: 95vw;
  min-height: 800px;
  padding-top: 500px;
}

.clips-main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 1rem;
  padding-top: 500px;
  width: 95vw;
}

.books-main {
  padding-top: 500px;
  width: 95vw;
}

.main-body,
.clip {
  border-radius: 2px;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 15px;
}

.clip:hover {
  z-index: 1;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.clip-link {
  width: 100%;
  text-decoration: none;
}

.clip-link,
.clip-link:visited,
.clip-link:hover,
.clip-link:active {
  color: inherit;
}

.clip-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.clip-photo {
  width: 100%;
}

.clip-photo img {
  width: 100%;
}

.clip-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.clip-title {
  font-size: 1.2em;
  line-height: 30px;
}

.clip-info {
  display: flex;
  font-size: 1em;
}

.publication::after {
  padding: 0 8px 0 6px;
  display: inline-block;
  content: "\2022";
  color: #ccc;
}

.hr {
  height: 1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 30px;
}

.text {
  line-height: 1.2em;
  font-size: 1.2em;
}

@media only screen and (max-width: 500px) {
  .text {
    line-height: 1em;
    font-size: 1em;
  }
}
